

<ion-content>

  <ion-grid fixed>
    <ion-row>
      <ion-col>
        <h3>My favourite movies</h3>
      </ion-col>
    </ion-row>
  </ion-grid>
  
  <!--
    

  -->
  
  <div *ngFor="let item of favouritesByGenre">

    <ion-grid *ngIf="item.movies.length > 0">
      
      <ion-row>
        <ion-col>
          <h3>{{ item.genre.name }}</h3>
        </ion-col>
      </ion-row>

      <app-slideshow-backdrop [peliculas]="item.movies"></app-slideshow-backdrop>
  
    </ion-grid>

    

  </div>

</ion-content>
